@{
    ViewData["Title"] = "Privacy Policy";
}
    <div class="text-left ml-5 pl-5">

        <h1 class="display-5">@ViewData["Title"]</h1>

        <h3>Feel free to try the game and enjoy!</h3>
        <h5>This is a project that was made during the HackYourFuture.NETMasterClass.</h5>
    </div>